<!doctype html>
<html ng-app="customersApp2">
<head>
    <title>Iterating Over Data</title>
    <link href="styles.css" rel="stylesheet" type="text/css" />
</head>
    <body ng-controller="SimpleController">

    <div style="margin:10px 50px;">
    <h2>Customers filtered and formatted</h2>
    Filter [name]: <input type="text" ng-model="customerFilter.name" />
    <br /><br />
    <table>
        <tr>
            <th ng-click="doSort('name')">Name</th>
            <th ng-click="doSort('city')">City</th>
            <th ng-click="doSort('orderTotal')">Order Total</th>
            <th ng-click="doSort('joined')">Joined</th>
        </tr>
        <tr ng-repeat="cust in customers | filter:customerFilter | orderBy:sortBy:reverse">
            <td>{{ cust.name }}</td>
            <td>{{ cust.city }}</td>
            <td>{{ cust.orderTotal | currency }}</td>
            <td>{{ cust.joined | date }}</td>
        </tr>
    </table>
        Angular test: 1+1={{ 1 + 1}}
    </div>
    <script src="angular.js"></script>
    <script src="app/controllers/app2.js"></script>
    <script src="app/controllers/customersControllerModule2.js"></script>
    
</body>
</html>
