<!doctype html>
<html ng-app='custRtApp'>
    <head>
        <title>Indes Page</title>
        <link href="../../css/styles.css" rel="stylesheet" type="text/css" />
    </head>
    <body ng-controller="CustomersController">
        <div  id="content" style="margin:10px 50px;">
            <h2>Customer's Main Index Page</h2>
            <nav id='nav'>
                <ul >
                    <li><a href='index.html'>Home</a></li>
                    <li><a href='customers.html'>Customers</a></li>
                    <li><a href='orders.html'>Orders</a></li>
                </ul>
            </nav>
            
        </div>
        <script src="../../js/angular.js"></script>
        <script src="../../js/angular-route.js"></script>
        <script src="../app.js"></script>
        <script src="../../js/controller.js"></script>
    </body>
</html>